.div1{
    width: 100%;
    height: 100px;
    background-color: red;
}
.div2{
    width: 100%;
    height: 100px;
    background-color: yellow;
}
.div3{
    width: 100%;
    height: 100px;
    background-color: black;
}
.div4{
    width: 100%;
    height: 100px;
    background-color: green;
}

.slider {
	width: 95%;
	margin: auto;
	overflow: auto; /* Permitir scroll horizontal */
    white-space: nowrap; /* Evitar el salto de línea */
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
}

.slider li {
	width: 100%;
	list-style: none;
}


